#logo {
  max-height: "50px";
}
/* }
#header{
  position: fixed;
  top:0;
  width:100%
} */
#table {
  bottom: 110px;
  width: 500px;
  margin-top: 90px;
}
#button {
  margin-top: 30px;
  margin-left: 660px;
}
